{% extends "base.dj.html" %}

{% block encabezado %}
<h1>Laberinto de Ícaro</h1>


{% endblock encabezado %}


{% block contenido %}

<section>
	<a href="{% url 'leyenda:indice' %}">Indice</a>
</section>
<p>
El Laberinto de Creta es, en la mitología griega, el laberinto construido por Dédalo para esconder al Minotauro. 
En la actualidad, se piensa que la leyenda del laberinto tiene su base en el palacio de Cnosos. Una construcción tan sofisticada y de alta tecnología como dicho palacio, repleto de múltiples habitaciones y con todas las mejoras conocidas por la tecnología de entonces (incluyendo un sistema de alcantarillado) que debió haber parecido a los aqueos algo intrincado. Apoya esta tesis el hecho de que en el palacio de Cnosos se han encontrado dibujos de hachas de doble filo por doquier, que en griego se llaman labrys, y que habrían dado nombre a la construcción.
</p>
{% endblock contenido %}
