body,h3,h4,p{
    /*display: flex;*/
    font-family: arial, sans-serif;
    background: #221f1f;
    color: #f5f5f1;

}



#indice_leyendas {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#list-content {
    
}

#item_link {

}

#imagen-item-link {

}

#imagen-item-link img{ 

}

#contenido-item-link {

}

#imagen-item  {
    
}

#imagen-leyenda {

}

#imagen-leyenda img {
    width: 500px;
    height: 500px;
}

#imagen-item img { /*imagen principal*/
    width: 170px;
    height: 170px;
    border-radius: 3.5px;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 30px;
    margin-right: 20px;
    -webkit-text-stroke: 0.5px #f5f5f1;
    color: #221f1f; 
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h2 {
    color: red;
    font-family: Verdana, Geneva, sans-serif; font-size: 24px;
    padding-left:80px;
    font-size: 16px;
}

h4{
    color: gray;
}

#text-content {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    text-align: justify;
}

#indice-leyendas {
    color: green;
}
/* inicio btn Ver*/
.btn, 
.btn-fill-vert:before, 
.btn-fill-vert:after, 
.btn-fill-horz:before, 
.btn-fill-horz:after {
  transition: all 0.3s;
}

.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 2px 20px;
  font-size: 15px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
}

.btn-fill-vert {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #221f1f;
  overflow: hidden;

}
.btn-fill-vert:before, .btn-fill-vert:after {
  content: '';
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}
.btn-fill-vert:before {
  top: 50%;
}
.btn-fill-vert:after {
  bottom: 50%;

}
.btn-fill-vert:hover {
  color: #f5f5f1ff;
}
.btn-fill-vert:hover:before, .btn-fill-vert:hover:after {
  height: 50%;
  opacity: 1;
}

.btn-fill-vert.btn-salmon:before, .btn-fill-vert.btn-salmon:after {
  background-color: #e50914ff;
}
.btn-fill-vert.btn-salmon:hover {
  border-color: #b81d24ff;
}

/* fin btn Ver*/

#volver{
    display: flex;
    flex-direction: row-reverse;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #b81d24;
    text-decoration: none;
}

#volver:hover {
    color: yellow;
}
#logo { /*genera conflicto con el navbar*/
    display: flex;
    align-items: flex-end;
    padding: 14px 16px;
    width: 85px;
    height: 85px;
}

/* Nav var */

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    flex-flow: row wrap; /*  columna vertical | a fila horizontal _ */
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f5f5f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f5f5f1;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #b81d24;
    color: white;
}


/*clasificación*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

label {
  color: gray;
  cursor: pointer;
  font-size: 20px;
}

input[type="radio"]{
  display: none;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label{color: orange;}

