{% load static %}

<div id="item-link" class="pure-g column">
  <!-- imagen del contenido -->
  <div id="imagen-item-link " > <!-- class="pure-u-8-24" -->
    <figure id="imagen-item">
    <a href="{% url 'leyenda:nombre' leyenda.slug %}">
      <img src="{{MEDIA_URL}}{{leyenda.imagen}}"> <!--class="pure-img" -->
      
      </a>
    </figure>
  </div>
  <!-- contenido texto -->
  <div 
    id="contenido-item-link"
    class="pure-u-16-24"
  >
    <h4>{{leyenda.titulo}}</h4>
    <section>
      <p>{{leyenda.resumen}}</p>
    </section>

    <div class="main-container">
      <section>
          <a
             class="btn btn-salmon btn-fill-vert"
             href="{% url 'leyenda:nombre' leyenda.slug %}"
          >
            Ver
         </a>
       </section>
     </div>
     
     <form>
      <p class="clasificacion">
        <input id="radio1" type="radio" name="estrellas" value="5"><!--
      --><label for="radio1">★</label><!--
      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
      --><label for="radio2">★</label><!--
      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
      --><label for="radio3">★</label><!--
      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
      --><label for="radio4">★</label><!--
      --><input id="radio5" type="radio" name="estrellas" value="1"><!--
      --><label for="radio5">★</label>
      </p>
</form>

  </div>
</div>

