{% extends "leyenda/base_app.dj.html" %}


{% block encabezado %}
{{block.super}}
<h1>{{leyenda.titulo}}</h1>
{% endblock encabezado %}


{% block contenido %}

<figure id="imagen-item">
      <img 
        class="pure-img"
        src="{{MEDIA_URL}}{{leyenda.imagen}}"
      >
</figure>
<section>
  <p id="text-content">
    {{leyenda.texto|safe}}
  </p>
</section>
<section id="test">
  <a 
    id="volver"
    href="{% url 'leyenda:indice' %}"
  >
    ←
  </a>
</section>
{% endblock contenido %}
