{% extends "base.dj.html" %}

{% block encabezado %}
<h1>Pac-man</h1>


{% endblock encabezado %}


{% block contenido %}

<section>
	<a href="{% url 'leyenda:indice' %}">Indice</a>
</section>
<p>Los <b>laberintos</b> son los niveles de <i><a href="/es/wiki/Pac-Man_(videojuego)" title="Pac-Man (videojuego)">Pac-Man</a></i>. En el centro del laberinto siempre hay una <a href="/es/wiki/Casa" title="Casa">casa</a> por donde los <a href="/es/wiki/Fantasmas" title="Fantasmas">fantasmas</a> se generan y regeneran.
</p><p>Todos los niveles, tienen el mismo laberinto con el mismo color y forma. En el nivel 256 no se puede pasar debido al <a href="/es/wiki/Glitch_del_laberinto_256" title="Glitch del laberinto 256">glitch del laberinto 256</a>, donde la pantalla se divide, haciendo que este sea el nivel final.
</p>

{% endblock contenido %}
