{% extends "base.dj.html" %}

{% block encabezado %}
<h1>Paradoja del gato de Schrodinger</h1>


{% endblock encabezado %}


{% block contenido %}

<section>
	<a href="{% url 'leyenda:indice' %}">Indice</a>
</section>
<span><b>paradoja</b>La  del gato<br><br> <b>Schrödinger</b> planteó su famosa <b>paradoja</b> para ilustrar el concepto de superposición. En el mundo poco intuitivo de la física cuántica, no se puede saber con certeza qué estado tiene una partícula y dónde se encuentra hasta que interactuemos con ella.</span>
{% endblock contenido %}
