{% extends "base.dj.html" %}

{% block encabezado %}
<h1>Laberinto del Corredor - Maze runner</h1>
{% endblock encabezado %}


{% block contenido %}

<section>
	<a href="{% url 'leyenda:indice' %}">Indice</a>
</section>

{% endblock contenido %}
