<!DOCTYPE html>
<html>
    <head>
        <title>{{titulo}}</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1">
        {% include "estilos.dj.html" %}
        {% block extra_css %}
        {% endblock %}
    </head>
    <body id="cuerpo">
        <div id="encabezado" class="">
        {% block encabezado %}
        {% include "navbar.dj.html" %}  <!--menu navbar-->
        {% endblock encabezado %}
        </div>
        <article
            id="contenido"
            class="">
            <div class="">
            {% block menu %}
            {% endblock menu %}
            </div>
            <div class="">
            {% block contenido %}
            {% endblock contenido %}
            </div>
        </article>
    </body>
</html>
