<div class="topnav">
  {% load static %}
<!--   <img 
    id="logo" 
    src="{% static 'imagenes/logo.svg' %}" 
  > -->
  <a 
  class="active" 
  href="{% url 'leyenda:indice' %}">Inicio</a>
  <a href="#news">Noticias</a>
  <a href="#about">Quienes somos</a>
  <a href="#contact">Contacto</a>
</div>